pipeline/pipeline4.json
{
	"name": "pipeline4",
	"properties": {
		"activities": [
			{
				"name": "lookup_metadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "metadata_dataset",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "foreach_source_datalake",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lookup_metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lookup_metadata').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "foreach_copy",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "sourcedata_fullload",
									"type": "DatasetReference",
									"parameters": {
										"sourcefoldername": {
											"value": "@item().sourcefoldername\r\n",
											"type": "Expression"
										},
										"sourcefilename": {
											"value": "@item().sourcefilename\r\n",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "sinkdata_fullload",
									"type": "DatasetReference",
									"parameters": {
										"datalakefoldername": {
											"value": "@item().datalakefoldername\r\n",
											"type": "Expression"
										},
										"datalakefilename": {
											"value": "@item().datalakefilename\r\n",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "foreach_sink_datalake",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "foreach_source_datalake",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": []
			}
		],
		"variables": {
			"metadata": {
				"type": "String"
			}
		},
		"annotations": []
	}
}